<div class="row">
    <div class="col">
        <form (ngSubmit)="onSubmit()" [formGroup]="diaryForm">
            <div class="form-group">
                <label for="date">Date</label>
                <input type="text" class="form-contol" formControlName="date">
                <label for="entry">Entry</label>
                <input type="text" class="form-contol" formControlName="date">
            </div>
            <button [disabled]="!diaryForm.valid" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>